body{
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.reg{
    display: block;
    margin:auto;
    width:50%;
}

.reg  h1 {
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
  color:#012e5e;
}

.reg-body{
  background-color:#ff9d00;
  border-radius:5px;
  padding: 12px 20px;
}

.reg-body form{
  margin-top:20px;
  margin-bottom: 20px;
  text-align: center;
  color:#012e5e;
}

.reg-body label{
  display:block;
  margin-top:20px;
  margin-bottom: 10px;
}

.reg-body input{
  display:block;
  box-sizing: border-box;
  margin: 8px 0;
  width: 100%;
  background-color: #f4f4f4;
  border:1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

.reg-body input[type=submit]{
  width:50%;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  border:none;
  background-color:#012e5e;
  color:white;
  padding:14px 20px;
  cursor:pointer;
}
