body{
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

main{
  margin:auto;
  width:75%;
  height: auto;
  color: #012e5e;
}
main h2{
  text-align: center;
}
main section{
  background: #FFFFFF;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

main section blockquote {
    display: inline-block;
    text-align: left;
    width: 100%;
}

main section:first-child{
  background: transparent;
}


main section picture img{
  background-color: #ffb606;
  width:30%;
  float:left;
}

main section blockquote aside{
  width:60%;
  margin-right: 40px;
  float:right;
  padding: 20px;
}

main section blockquote aside h2{
  text-align: left;
}

main section ul, main section ul li {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

main section ul{
  display: inline-block;
  width: 45%;
  margin-right: 15px;
}

main section ul li{
  list-style-type: none;
  text-align: left;
}

main section ul li>span{
  display: block;
  width: 100%;
  height:5px;
  background-color: #ffb606;
  position: relative;
}

main section ul li span span{
  height:5px;
  background-color: #012e5e;
  position: absolute;
}

main section address {
    width: 45%;
    display: inline-block;
    font-style: normal;
}

main section address a{
  color: #ffb606;
}

main form textarea{
  display:block;
  box-sizing: border-box;
  margin: 8px 0;
  width: 100%;
  background-color: #f4f4f4;
  border:1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  text-align: left;
}
main form input{
  display:block;
  box-sizing: border-box;
  margin: 8px 0;
  width: 100%;
  background-color: #f4f4f4;
  border:1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

main form input[type=submit]{
  width:50%;
  display: block;
  margin: auto;
  text-align: center;
  border:none;
  background-color:#012e5e;
  color:white;
  padding:14px 20px;
  cursor:pointer;
}

footer{
  background-color:#012e5e;
  height: 150px;
  width: 100%;
}
