body {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}

table {
    margin: 20px auto;
    width: 90%;
    color: #012e5e;
    background-color: #FFF;
}
table,th,tr{
    padding:10px;
    text-align: left;
    border-collapse:collapse;
    border: 1px solid #012e5e;
}

.table-header {
    text-align: center;
    background-color: #ffb606;
}

.empty-users-message {
    color: #012e5e;
    position: center;
}